<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>HttpSessionAttributeListener</description>
        <listener-class>jav.listeners.SessionAttributeListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>SessionLogin</servlet-name>
        <servlet-class>jav.controler.SessionLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SessionLogin</servlet-name>
        <url-pattern>/SessionLogin</url-pattern>
    </servlet-mapping>
</web-app>
